:root {
  --ff-ubuntu: 'Ubuntu', 'Inter', sans-serif;

  --primary-bg-color: #FDFDFD;
  --primary-text-color: #1D1F2E;
}

[data-theme='dark'] {
  --primary-bg-color: #1D1F2E;
  --primary-text-color: #FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--ff-ubuntu);
}