header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-height: 8.6rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 144rem;
}

.header-container button {
    border: none;
    padding: 0;
    cursor: pointer;

    background-color: transparent;
}

.header-toggle-theme-button {
    margin-right: 1rem;
    width: 1.8rem;
    height: 1.8rem;
}

.header-go-home-logo-button {
    margin: 3rem 0 1rem 0;
    width: 5rem;
    height: 3.5rem;
}

.header-back-home-button {
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 1rem;
}